.campaignRow {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 50px;
    margin-bottom: 80px;
    position: relative;
    align-items: center;
    box-sizing: border-box;
}

.campaignRow__date{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 24px;
    left: 0%;
    top: calc(50% - 24px/2 - 18px);
    align-items: center;
    padding-left: 10px;
    
}

.campaignRow__date > h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2B416C;
}

.campaignRow__date > p {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #7788A3;
}


.campaignRow__campaign {
    display: flex;
    align-items: center;
    position: absolute;
    left: 18%;

    
}

.imageBox > img {
    height: 40px;
    width: 40px;
    border-radius: 0px;


}

.campaign__info {
    position: absolute;
    height: 24px;
    left: 50px;
    top: calc(50% - 24px/2 - 23px);
    align-items: center;

}

.campaign__info > h3 {
    font-family: Roboto;
    width: 250px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #556789;
}

.campaign__info > p {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #9CA2B7;

}

.campaignRow__view {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    margin-left: -10px;

}

.campaignRow__view:hover {
    cursor: pointer;
}

.campaignRow__view > img {
    height: 24px;
    width: 24px;
    margin-right: 5px;
}

.campaignRow__view > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #7788A3;
}

.campaignRow__actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 0;
    
}

.action__option {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.action__option {
    cursor: pointer;
}


.action__option > img {
    height: 24px;
    width: auto;
    margin-right: 5px;
}

.action__option > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #7788A3;
}

.modalBackground {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
    position: fixed;
    
    
    width: 233px;
    height: 160px;
    background: #556789;
    z-index: 100;

}

.modal__top {
    display: flex;
}

.modal__info {
    left: 53%;
    top: 29%;
    position: absolute;
}

.modal__info > h3 {
    color: #2B416C;
    font-size: 16px;
}

.modalShowing-true {
    opacity: 1;
    pointer-events: showing;
}

.verticalSeprator {
    display: none;
    height: 100%;
    width: 5px;
    background-color: #556789;
}

.modal__inner {
    z-index: 100;
    background-color: white;
    border-radius: 3px;
    
    max-width: 400px;
    max-height: 450px;
}

.modal__bottom {
    margin-top: 25px;
    margin-left: 5px;
}
.modal__bottom > h1 {
    color: #2B416C;
    font-size: 24px;
}

.modal__info > p {
    color: #9CA2B7;
    font-size: 14px;
    
}

.periodOfPricing {
    display: flex;
}

.modalButton > button {
    background-color: white;
    border: 2px solid #181B34;
    padding: 7px 21px;
    margin-left: 30%;
    margin-bottom: 20px;
}

.modalButton > button:hover {
    cursor: pointer;
}

.periodOfPricing > h3 {
    color: #7788A3;
    font-size: 16px;
    
}

.periodOfPricing > p {
    
    padding-left: 8%;
}

.modal-content {
    width: 75% !important;
}

.modal__image {
    width: 48%;
}


@media screen and (max-width: 915px) {
    .action__option {
        flex-direction: column;
    }

    .campaignRow__view {
        flex-direction: column;
    }

}

@media screen and (max-width: 670px) {
    .campaignRow {
        position: relative;
        min-height: 200px;
        width: 100%;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
        background-color: #F1F1F4;
        margin-left: 0;
        padding-top: 50px;
        margin-top: 0;
        margin-bottom: 26px;
    }

    .campaignRow__campaign {
        top: 5%;
        left: 5%;
        right: auto;
        flex-direction: column;
    }

    .imageBox > img {
        
        top: 50px;
    }

    .campaign__info > h3 {
        font-size: 18px;
        line-height: 38px;
    }

    .campaignRow__date{
        position: absolute;
        
        top: 43%;
        left: 29%;
        
        
    }
   
    .campaignRow__actions {
        position: absolute;
        bottom: 0;
        right: 20px;
        
        display: flex;
        flex-direction: column;
        width: 25px;
        align-items: baseline;
        height: 70%;
    }
    .campaignRow__view {
        position: absolute;
        bottom: 0;
        left: 20px;
        
    }

   

    .action__option > p {
        display: none;
        justify-content: space-evenly;
    }

}

@media screen and (max-width: 670px) {
    .modal__info {
        top: 6%;
    }
}
